<%= form_for(@brewerypost) do |f| %>
  <% if @brewerypost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewerypost.errors.count, "error") %> prohibited this brewerypost from being saved:</h2>

      <ul>
      <% @brewerypost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <a><%= f.label :name %></a><br>
    <%= f.text_area :name %>
  </div>
  
  <div class="field">
    <%= field_set_tag '비어명 선택' do %>
      <a>Tab:</a> <%= f.collection_select :tab, @beerdbs, :name, :name %>
        <%#= form_for(@beerdb) do |p| %>
          <%#= p.collection_select :brewerypost_tab, @beerdbs, :name, :name, {:prompt=>true} %>
        <%#end%>
    <%end%>
  </div>
  <div class="field">
    <%= field_set_tag '비어명 선택' do %>
      <a>Tab:</a> <%= f.collection_select :bottlebeer, @beerdbs, :name, :name %>
        <%#= form_for(@beerdb) do |p| %>
          <%#= p.collection_select :brewerypost_tab, @beerdbs, :name, :name, {:prompt=>true} %>
        <%#end%>
    <%end%>
  </div>


  <div class="field">
    </a><%= f.label :storeimage %></a>
    <%= f.file_field :storeimage, accept: 'image/*'%><br>
  </div>
  
  <div class="field">
    <a><%= f.label :menuimage %></a>
    <%= f.file_field :menuimage, accept: 'image/*'%><br>
  </div>
  
  <div class="field">
    <a><%= f.label :event %></a><br>
    <%= f.text_area :event %>
  </div>
  

  
  <div class="field">
    <%= f.hidden_field :x, id: :brewerypost_x , step: :any, value: @lat%>
  </div>

  <div class="field">
    <%= f.hidden_field :y, id: :brewerypost_y , step: :any, value: @lng%>
  </div>
  
  <div class="actions">
    <%= f.submit("브루어리 정보 등록하기!") %>
  </div>
<% end %>
