$(".map-posts").html("<div><%= @brewerypost.name%></div><div><%= @brewerypost.tab%></div><div><%= @brewerypost.bottlebeer%></div><div><img src='<%= @brewerypost.storeimage %>'></div><div><img src='<%= @brewerypost.menuimage %>'></div><div><%= @brewerypost.event %></div>").hide().fadeIn(500);

