<!DOCTYPE html>
<html>
   <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  
    <head>
     <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="mystyle.css" type="text/css"/>
   </head>
  
  <body>
<p id="notice"><%= notice %></p>

<div class="wrapper">
<div class="logo"><a href="index"><image src="/logo_a.png" class="main"></image></a></div>
<ul class="tnb">
  <li class="log">
     <% if user_signed_in? %>
     <%= link_to "Logout", destroy_user_session_path, style:"text-decoration:none !important; color:#d1cabc; font-family: 'WONDotum'; font-weight:bold;" %>
    <% else %>
    <%= link_to "Login", new_user_session_path, style:"text-decoration:none !important; color:#d1cabc; font-family: 'WONDotum'; font-weight:bold;" %>
    <% end %>
    </li>
</ul>
</div>

<!--상단바-->
     <ul class="nav">
       <div class="menu">
        <li><a class="active" href="/beer">Beer</a></li>
        <li><a href="/brewery">Brewery</a></li>
        <li><a href="/community">Community</a></li>
        
        <li class="dropdown">
    <a href="/mypage" class="dropbtn">My Page</a>
    <div class="dropdown-content">
      <a href="/beertap" style="color:black;">Beer Tap</a>
      <a href="#" style="color:black;">작성글</a>
      <a href="#" style="color:black;">스크랩</a>
      <a href="/mypage" style="color:black;">info</a>
      </div>
    </div>
  </li>
</ul>

<!--본문-->
<div class="bodywrapper">
<div class="container">
 
      <div class="survey">  
        <h1>맥주 검색 결과입니다! </h1>
        <p>맥주 쓴 정도 (0~100의 수치로 표시)</p>
        <p>과일향 0 = 있음 / 1 = 없음</p>
        
      </div>
<!--searchresult-->

<div class="innertitle">
							<section class="tiles">
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<%=@beerdbs.each do |p|%>

   									맥주이름 : <%= p.name%><br>
   									스타일 : <%= p.style%><br>
  								    도수 : <%= p.alcohol%><br>
  								    쓴 정도(ibu) : <%= p.alcohol%><br>
  								    과일향 유뮤 : <%= p.fruit%><br>
  								     <%= link_to "/posts/beermore/#{beerdb.id}", class:"beermore" do%><br>
  								       <button>MORE</button>
  									 <%end%>
								</section>
							</div>
						</div>
					
		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
 

</div>
</div>
<!--<div class="footer">ⓒ 2018  Beer SNS</div>-->
</body>
</html>