<!DOCTYPE html>
<html>
   <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Adamina|Bangers|Do+Hyeon|Paytone+One|Sarala|Vibur" rel="stylesheet">
  <head>
     <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="mystyle.css" type="text/css"/>
   </head>
  <body>
  	
  	<style>
  		.style1 {
  			font-family: 'Do Hyeon';
  		}
  	</style>

<div class="wrapper">
<div class="logo"><a href="index"><image src="/logo_a.png" class="main"></image></a></div>
<ul class="tnb">
  <li class="log">
    <div class="logos"><b><span>
     <% if user_signed_in? %>
     <%= link_to "LOGOUT", destroy_user_session_path, style:"text-decoration:none !important; color:#d1cabc; font-family: 'WONDotum'; font-weight:bold;" %>
    <% else %>
    <%= link_to "LOGIN", new_user_session_path, style:"text-decoration:none !important; color:#d1cabc; font-family: 'WONDotum'; font-weight:bold;" %>
    <% end %>
    </span></div></b>
    </li>
</ul>
</div>

<!--상단바-->
     <ul class="nav">
       <div class="menu">
        <li><a class="active" href="beer"><div class="logos"><b>B<span>EE</span><span>R</span></b></div></a></li>
        <li><a href="brewery"><div class="logos"><b><span>BR</span>EW<span>ERY</span></b></div></a></li>
        <li><a href="community"><div class="logos"><b><span>COM</span>MU<span>NI</span>TY</b></div></a></li>
        
        <li class="dropdown">
    <a href="mypage" class="dropbtn"><div class="logos"><b><span>MY </span>P<span>AG</span>E</b></div></a>
    <div class="dropdown-content">
      <a href="beertap" style="color:black;">Beer Tap</a>
      <a href="mywriting" style="color:black;">작성글</a>
      <a href="#" style="color:black;">스크랩</a>
      <a href="mypage" style="color:black;">info</a>
      </div>
    </div>
  </li>
</ul>
</div>



<!--본문-->
<div class="bodywrapper">
<div class="container">
<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="c1.jpg" alt="" />
									</span>
									<a href="notices">
										<h2>공지사항</h2>
										<div class="content">
																	</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="c2.jpg" alt="" />
									</span>
									<a href="mcleans">
										<h2>맥린이 게시판</h2>
										<div class="content">
																	</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="c3.jpg" alt="" />
									</span>
									<a href="mcjals">
										<h2>맥잘알 게시판</h2>
										<div class="content">
																	</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="c4.jpg" alt="" />
									</span>
									<a href="enjoyings">
										<h2>즐기는 사람 게시판</h2>
										<div class="content">
																	</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="c5.jpg" alt="" />
									</span>
									<a href="mcmillies">
										<h2>맥믈리에 게시판</h2>
										<div class="content">
											
										</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="c6.jpg" alt="" />
									</span>
									<a href="qnas">
										<h2>질문 게시판</h2>
										<div class="content">
																	</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="c7.jpg" alt="" />
									</span>
									<a href="promotions">
										<h2>홍보 게시판</h2>
										<div class="content">
																	</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="c8.jpg" alt="" />
									</span>
									<a href="information">
										<h2>정보 게시판</h2>
										<div class="content">
																	</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="c9.jpg" alt="" />
									</span>
									<a href="reviews">
										<h2>브루어리 후기 게시판</h2>
										<div class="content">
																	</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="c10.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>중고나라</h2>
										<div class="content">
																	</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="c11.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>맥주공방</h2>
										<div class="content">
																	</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="c12.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>맥주 페스티벌</h2>
										<div class="content">
																	</div>
									</a>
								</article>
							</section>
						</div>
					</div>
		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			
<!--			<div class = "commu_search">-->
<!--    <%= form_tag search_post_path do %>-->
<!--    <%= label_tag :search, "해시태그 검색" %>-->
<!--    <%= text_field_tag :search %>-->
<!--    <%= submit_tag "검색하기!" %>-->
<!--    <%end%>-->
<!--</div>-->
<!--<div class= commu_menu>-->
<!--  <ul class="operator_menu">-->
<!--        <li><a href="notices">공지사항</a></li>-->
<!--        <li><a href="#">맥린이 게시판</a></li>-->
<!--        <li><a href="#">맥잘알 게시판</a></li>-->
<!--        <li><a href="#">즐기는 사람 게시판</a></li>-->
<!--        <li><a href="#">맥믈리에 게시판</a></li>-->
<!--        <li><a href="#">맥믈리에에게 질문합니다</a></li>-->
<!--        <li><a href="#">홍보 게시판</a></li>-->
<!--        <li><a href="#">정보 게시판</a></li>-->
<!--        <li><a href="#">브루어리 후기 게시판</a></li>-->
<!--    </ul>-->
    
    

<!--      <ul class="user_menu">-->
<!--        <li><a href="#">중고나라</a></li>-->
<!--        <li><a href="#">맥주 공방</a></li>-->
<!--        <li><a href="#">맥주 페스티벌 스태프</a></li>-->
<!--      </ul>-->
<!--    </div>  -->
</div>
</div>
<div class="footer">ⓒ 2018  Beer SNS</div>
</body>
</html>