<!DOCTYPE html>
<html>
  
   <link href="https://fonts.googleapis.com/css?family=Adamina|Bangers|Paytone+One|Sarala|Vibur" rel="stylesheet">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
<div class="wrapper">
<div class="logo"><a href="index"><image src="/logo_a.png" class="main"></image></a></div>
<ul class="tnb">
  <li class="log">
    <div class="logos"><b><span>
     <% if user_signed_in? %>
     <%= link_to "LOGOUT", destroy_user_session_path, style:"text-decoration:none !important; color:#d1cabc; font-family: 'WONDotum'; font-weight:bold;" %>
    <% else %>
    <%= link_to "LOGIN", new_user_session_path, style:"text-decoration:none !important; color:#d1cabc; font-family: 'WONDotum'; font-weight:bold;" %>
    <% end %>
    </span></div></b>
    </li>
</ul>
</div>

<!--상단바-->
     <ul class="nav">
       <div class="menu">
        <li><a class="active" href="beer"><div class="logos"><b>B<span>EE</span><span>R</span></b></div></a></li>
        <li><a href="brewery"><div class="logos"><b><span>BR</span>EW<span>ERY</span></b></div></a></li>
        <li><a href="community"><div class="logos"><b><span>COM</span>MU<span>NI</span>TY</b></div></a></li>
        
        <li class="dropdown">
    <a href="mypage" class="dropbtn"><div class="logos"><b><span>MY </span>P<span>AG</span>E</b></div></a>
    <div class="dropdown-content">
      <a href="beertap" style="color:black;">Beer Tap</a>
      <a href="mywriting" style="color:black;">작성글</a>
      <a href="#" style="color:black;">스크랩</a>
      <a href="mypage" style="color:black;">info</a>
      </div>
    </div>
  </li>
</ul>

<!--본문-->
<div class="bodywrapper">
<div class="container">

  <section class="slideshow">
    <div class="slideshow-container slide">
      <img class="show" src="main/main1.png"/>
      <img class="show" src="main/main2.png"/>
      <img class="show" src="main/main3.png"/>
      <img class="show" src="main/main4.png"/>
    </div>
  </section>

<div class="grid-container">

  <div class="ranking">
    
  </div>
  
  
  <div class="review">
  
  <!--  <article class="thumb">-->
		<!--	<a href="images/fulls/01.jpg" class="image"><img src="images/thumbs/01.jpg" alt="" /></a>-->
		<!--	<h2>level</h2>-->
		<!--	<p>수제 맥주 지식에 따른 레벨 분류</p>-->
		<!--</article>-->

   introduce user level
    
    맥린이
    
    <br>
    
    맥잘알
    
    <br>
    
    즐기는 자
    
    <br>
    
    맥믈리에
    
  </div>
    
    <!-- script -->
   <!-- <script src="/js/jquery.min.js"></script>s-->
			<!--<script src="/js/jquery.poptrox.min.js"></script>-->
			<!--<script src="/js/browser.min.js"></script>-->
			<!--<script src="/js/breakpoints.min.js"></script>-->
			<!--<script src="/js/util.js"></script>-->
			<!--<script src="/js/main.js"></script>-->

</div>


<div class="logos"><b>d<span>ri</span>bb<span>b</span>le</b></div>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.likes.size %> 명</td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
</div>
</div>
<div class="footer">ⓒ 2018  Beer SNS</div>
</body>
</html>
