<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @promotion.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @promotion.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @promotion.content %>
</p>

<p>
  <strong>Review count:</strong>
  <%= @promotion.review_count %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
